.cat-desc{
    /* width: 150px;
    height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    border-radius: 8px; 
    border: solid 1px #877d7d;
    /* box-shadow: 0px 0px 3px 1px rgb(94, 94, 94); */
    /* border: none; */
    /* box-shadow: 0px 0px 3px 1px rgb(94, 94, 94); */
}
.cat-desc p{
    margin-bottom: 10px;
}
.cat-desc img{
    width: 96%;
    height: 70%;
}
.cat-desc:hover{
      border: solid 1px #ffffff;
    transform: scale(1.1);
  
    
}
